@model CinemaHour.Web.ViewModels.Users.UserViewModel
@{
    this.ViewData["Title"] = $"{Model.UserName} Profile";
    TimeSpan span = TimeSpan.FromMinutes(Model.TotalTimeWatched);
    string totalTimeWatched = span.ToString(@"hh\:mm\:ss");
}

@if (this.TempData["RemoveMovieFromWatched"] != null)
{
    <p class="alert alert-success">@this.TempData["RemoveMovieFromWatched"]</p>
}
@if (this.TempData["RemoveMovieFromFavourites"] != null)
{
    <p class="alert alert-success">@this.TempData["RemoveMovieFromFavourites"]</p>
}
@if (this.TempData["AddAdminRoleToUser"] != null)
{
    <p class="alert alert-danger">@this.TempData["AddAdminRoleToUser"]</p>
}
@if (this.TempData["LockdownUser"] != null)
{
    <p class="alert alert-danger">@this.TempData["LockdownUser"]</p>
}
@if (this.TempData["RemoveLockdownUser"] != null)
{
    <p class="alert alert-danger">@this.TempData["RemoveLockdownUser"]</p>
}

<div class="col-md-12 media">
    <div class="media-body">
        <div class="row">
            <div class="col-md-4 media-body center">
                <img src="@Model.AvatarUrl" width="250" class="center" />
                @if (this.User.IsInRole("Administrator"))
                {
                    // Make admin / delete account
                    @if (this.User.Identity.Name != Model.UserName)
                    {
                        <h4 align="center"><a asp-action="MakeAdmin" asp-route-username="@Model.UserName">Promote to Administrator</a></h4>
                        <h4 align="center"><a asp-action="LockdownUser" asp-route-username="@Model.UserName">Lockdown User</a></h4>
                        <h4 align="center"><a asp-action="RemoveLockdownUser" asp-route-username="@Model.UserName">Remove Lockdown User</a></h4>
                        <h4 align="center"><a asp-action="DeleteUser" asp-route-username="@Model.UserName">Delete User</a></h4>
                    }
                }
                <h2 class="mt-0" style="text-align:center;">
                    @Model.UserName
                </h2>
                <p><strong>Name: </strong>@(Model.FirstName + " " + Model.LastName)</p>
                <p><strong>Total Watch Time: </strong>@totalTimeWatched <span style="font-size: 10px;">(hours/minutes/seconds)</span></p>
            </div>
        </div>
        <div>
            <hr />
            <h3 align="center">Favourite Movies</h3>
            <hr />
            <div class="row">
                @foreach (var movie in @Model.Favourites)
                {
                    <div class="col-md-4" style="border:thin 5px red">
                        <h4 align="center"><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.MovieId">@movie.MovieName</a></h4>
                        <img style="float: left; margin-right:5px;" src="@movie.MoviePosterUrl" width="150" />
                        <p style="margin-left:auto; margin-right:0;"><strong>Rating: </strong>@movie.MovieRating</p>
                        <p><strong>Premiere: </strong>@movie.MovieReleaseDate.ToShortDateString()</p>
                        @if (this.User.Identity.Name == Model.UserName)
                        {
                            <a asp-action="RemoveFromFavourites" asp-route-movieId="@movie.MovieId">Remove from Favourites</a>
                        }
                    </div>
                }
            </div>
            <hr />
            <h3 align="center">Watched Movies</h3>
            <hr />
            <div class="row">
                @foreach (var movie in @Model.Watched)
                {
                    <div class="col-md-4" style="border:thin 5px red">
                        <h4 align="center"><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.MovieId">@movie.MovieName</a></h4>
                        <img style="float: left; margin-right:5px;" src="@movie.MoviePosterUrl" width="150" />
                        <p style="margin-left:auto; margin-right:0;"><strong>Rating: </strong>@movie.MovieRating</p>
                        <p><strong>Premiere: </strong>@movie.MovieReleaseDate.ToShortDateString()</p>
                        @if (this.User.Identity.Name == Model.UserName)
                        {
                            <a asp-action="RemoveFromWatched" asp-route-movieId="@movie.MovieId">Remove from Watched</a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>