@model CinemaHour.Web.ViewModels.Directors.EditDirectorViewModel
@{
    ViewData["Title"] = "Edit Director";
}

<h1 class="display-4 text-center">@this.ViewData["Title"]</h1>
<hr />
<form method="post" asp-action="Edit">
    <div class="row">
        <input hidden asp-for="@Model.Id" />
        <div class="col-md-12 top-buffer form-group" style="align-content:center;">
            <label asp-for="@Model.FullName"></label>
            <input asp-for="@Model.FullName" class="form-control" placeholder="FullName..." />
            <span asp-validation-for="@Model.FullName" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Edit" />
        </div>
    </div>
</form>