@using CinemaHour.Common
@using CinemaHour.Data.Models
@using Microsoft.AspNetCore.Identity
@model CinemaHour.Web.ViewModels.Home.IndexViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    @if (this.TempData["DeleteUser"] != null)
    {
        <p class="alert alert-danger">@this.TempData["DeleteUser"]</p>
    }

    @if (this.TempData["RecoverUser"] != null)
    {
        <p class="alert alert-danger">@this.TempData["RecoverUser"]</p>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <hr />
    <div>
        <p>Browse all the actors and information about them <a asp-controller="Actors" asp-action="All"><strong>here</strong></a>.</p>
    </div>
    <hr />
</div>

<div class="row">
    @foreach (var actor in Model.Actors)
    {
        <div class="col-md-4 media">
            <div class="media-body">
                <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.Id"><h5>@actor.FullName</h5></a>
                <img src="@actor.ImageUrl" alt="actorImg" width="100" style="margin-top: 10px" />
                <div>
                    <p><strong>Gender: </strong>@actor.Gender</p>
                    <p><strong>Short Information: </strong>@actor.ShortInfo</p>
                </div>
            </div>
        </div>
    }
</div>

<div class="text-center">
    <hr />
    <div>
        <p>Browse all the movies and information about them <a href="/Movies/All"><strong>here</strong></a>.</p>
    </div>
    <hr />
</div>

<div class="row">
    @foreach (var movie in Model.Movies)
    {
        <div class="col-md-4 media">
            <div class="media-body">
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><h5>@movie.Name</h5></a>
                <img src="@movie.PosterUrl" alt="moviePoster" width="100" style="margin-top: 10px" />
                <div>
                    <p><strong>Short Summary: </strong>@movie.ShortSummary</p>
                </div>
            </div>
        </div>
    }
</div>
