@model CinemaHour.Web.ViewModels.Movies.AllMoviesViewModel
@{
    this.ViewData["Title"] = "All Movies";
    var sortedMovies = Model.Movies.OrderByDescending(x => x.ReleaseDate);
}

@if (this.TempData["DeleteMovieTemp"] != null)
{
    <p class="alert alert-danger">@this.TempData["DeleteMovieTemp"]</p>
}
@if (this.TempData["HardDeleteMovieTemp"] != null)
{
    <p class="alert alert-danger">@this.TempData["HardDeleteMovieTemp"]</p>
}


<h1 class="display-4 text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach (var movie in sortedMovies)
    {
        <div class="col-md-4 media" style="margin-top:10px">
            <div class="media-body">
                <h4 class="mt-0">
                    @movie.Name
                </h4>
                <img src="@movie.PosterUrl" width="200" />
                <p><strong>Categories: </strong>@movie.GenreString</p>
                <p><strong>Premiere Date: </strong>@movie.ReleaseDate.ToShortDateString()</p>
                <div class="button-holder">
                    <a href="/Movies/Details?id=@movie.Id" class="btn btn-info text-uppercase">View More</a>
                </div>
            </div>
        </div>
    }
</div>

<div style="margin-top:5px">
    @if (Model.PagesCount > 0)
    {
        <ul class="pagination">
            <li class="prev disabled"><a href="/Movies/All?page=@Model.PreviousPage"></a></li>
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active"><a href="/Movies/All?page=@i">@i</a></li>
                }
                else
                {
                    <li><a href="/Movies/All?page=@i">@i</a></li>
                }
            }
            <li class="next"><a href="/Movies/All?page=@Model.NextPage"></a></li>
        </ul>
    }
</div>