@model CinemaHour.Web.ViewModels.Movies.AllMoviesViewModel
@{
    this.ViewData["Title"] = "All Movies";
    //var sortedMovies = Model.Movies.OrderByDescending(x => x.ReleaseDate);
}

@if (this.User.IsInRole("Administrator"))
{
    @if (this.TempData["DeleteMovieTemp"] != null)
    {
        <p class="alert alert-danger">@this.TempData["DeleteMovieTemp"]</p>
    }
    @if (this.TempData["HardDeleteMovieTemp"] != null)
    {
        <p class="alert alert-danger">@this.TempData["HardDeleteMovieTemp"]</p>
    }
}


<h1 class="display-4 text-center">@this.ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="All" method="get">
            <p>Search: <input type="text" name="searchString" value="@this.ViewData["CurrentFilter"]" /></p>
            <input type="submit" value="Search" class="btn btn-success" />
            <a class="btn btn-info" asp-action="All" asp-route-sortOrder="@this.ViewData["NameSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]">Back to full list.</a>
        </form>
    </div>
    <div class="col-md-5">
        <p>
            Sort by: <a class="btn btn-dark" asp-action="All" asp-route-sortOrder="@this.ViewData["NameSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" style="margin-left:5px;">
                Name
            </a>
            <a class="btn btn-dark" asp-action="All" asp-route-sortOrder="@this.ViewData["RatingSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" style="margin-left:5px;">
                Rating
            </a>
        </p>
    </div>
</div>

<div class="row">
    @foreach (var movie in Model.Movies)
    {
        <div class="col-md-4 media" style="margin-top:10px">
            <div class="media-body">
                <h4 class="mt-0">
                    @movie.Name
                </h4>
                <img src="@movie.PosterUrl" width="200" />
                <p><strong>Categories: </strong>@movie.GenreString</p>
                <p><strong>Rating: </strong>@movie.Rating</p>
                <p><strong>Premiere Date: </strong>@movie.ReleaseDate.ToString("dd/MMM/yyyy")</p>
                <div class="button-holder">
                    <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info text-uppercase">View More</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="wrapper" style="margin-top:5px">
    <ul class="pager justify-content-center">
        @if (this.Model.CurrentPage <= 1)
        {
            <li class="pager__item pager__item--prev disabled">
                <a class="pager__link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
        }
        else
        {
            <li class="pager__item pager__item--prev">
                <a class="pager__link"
                   asp-action="All"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@(Model.CurrentPage - 1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
        }

        @{
            const int MorePagesToShow = 3;
            var pagesToShow = new List<int>();
            for (var i = 1; i <= MorePagesToShow; i++)
            {
                pagesToShow.Add(i);
            }
            for (var i = this.Model.CurrentPage - MorePagesToShow; i <= this.Model.CurrentPage + MorePagesToShow; i++)
            {
                if (i > 0)
                {
                    pagesToShow.Add(i);
                }
            }
            for (var i = this.Model.PagesCount - MorePagesToShow + 1; i <= this.Model.PagesCount; i++)
            {
                if (i > 0)
                {
                    pagesToShow.Add(i);
                }
            }
            pagesToShow = pagesToShow.Where(x => x <= this.Model.PagesCount).Distinct().OrderBy(x => x).ToList();
        }
        @for (var i = 0; i < pagesToShow.Count; i++)
        {
            var active = i == this.Model.CurrentPage - 1 ? "active" : string.Empty;
            var pageNumber = pagesToShow[i];

            if (i > 0 && pageNumber - 1 != pagesToShow[i - 1])
            {
                <li class="pager__item @active">
                    <a class="pager__link"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-page="@(pagesToShow[i - 1] - 1)">...</a>
                </li>
            }
            <li class="pager__item @active">
                <a class="pager__link"
                   asp-action="All"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@pageNumber">@pageNumber</a>
            </li>
        }
        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="pager__item pager__item--next disabled">
                <a class="pager__link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
        }
        else
        {
            <li class="pager__item pager__item--next">
                <a class="pager__link"
                   asp-action="All"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@(Model.CurrentPage + 1) ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
        }
    </ul>
</div>