@model CinemaHour.Web.ViewModels.Movies.MovieDetailsViewModel
@{
    this.ViewData["Title"] = $"{Model.Name} Details";
}

@if (this.TempData["CreateMovieTemp"] != null)
{
    <p class="alert alert-success">@this.TempData["CreateMovieTemp"]</p>
}

@if (this.TempData["UserAddToFavourite"] != null)
{
    <p class="alert alert-success">@this.TempData["UserAddToFavourite"]</p>
}

@if (this.TempData["UserAddToWatched"] != null)
{
    <p class="alert alert-success">@this.TempData["UserAddToWatched"]</p>
}

<div class="col-md-12 media">
    <div class="media-body">
        <div class="row">
            <div class="col-md-8 media-body">
                <p>
                    @Html.Raw(Model.SanitizedSummary)
                </p>
            </div>
            <div class="col-md-4 media-body">
                <img src="@Model.PosterUrl" width="250" class="center" />
                @if (this.User.IsInRole("Administrator"))
                {
                    <h6 align="center"><a href="/Movies/Edit?id=@Model.Id">Edit Movie</a></h6>
                    <h6 align="center"><a href="/Movies/Delete?id=@Model.Id" onclick="confirmDelete()">Delete Movie</a></h6>
                    <h6 align="center"><a href="/Movies/HardDelete?id=@Model.Id" onclick="confirmHardDelete()">Hard Delete Movie</a></h6>
                }
                <h2 class="mt-0" style="text-align:center;">
                    @Model.Name
                </h2>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <h6 align="center"><a href="/Users/AddToUserWatched?movieId=@Model.Id">Add to Watched</a></h6>
                    <h6 align="center"><a href="/Users/AddToUserFavourites?movieId=@Model.Id">Add to Favourites</a></h6>
                }
                <p><strong>Genres: </strong>@Model.GenreString</p>
                <p><strong>Rating: </strong>@Model.Rating</p>
                <p><strong>Premiere Date: </strong>@Model.ReleaseDate.ToShortDateString()</p>
                <p><strong>Language: </strong>@Model.Language</p>
                <p><strong>Length: </strong>@Model.Length minutes</p>
                <p><strong><a href="@Model.TrailerLink">Trailer Link</a></strong></p>
                <p><strong><a href="@Model.IMDBLink">IMDB Link</a></strong></p>
                <h5>Directors</h5>
                @foreach (var director in Model.Directors.OrderBy(x => x.Director.FullName))
                {
                    <p>@director.Director.FullName</p>
                }
            </div>
        </div>
        <hr />
        <h5 align="center">Actors:</h5>
        <hr />
        <div id="ActorMovieDetails" class="row">
            <hr />
            @foreach (var actor in Model.Actors.OrderBy(x => x.Actor.FirstName))
            {
                <div class="col-md-3">
                    <img src="@actor.Actor.ImageUrl" alt="actorImageUrl" width="150" />
                    <p><a href="/Actors/Details?id=@actor.ActorId">@actor.Actor.FirstName @actor.Actor.LastName</a></p>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function confirmDelete() {
        confirm("Are you sure you want to delete this movie?");
    }
    function confirmHardDelete() {
        confirm("Are you sure you want to hard delete this movie?");
    }
</script>