@model CinemaHour.Web.ViewModels.Movies.MovieDetailsViewModel
@{
    this.ViewData["Title"] = $"{Model.Name} Details";
    async Task DisplayComments(int? parentId)
    {
        var comments = this.Model.Comments.Where(x => x.ParentId == parentId).OrderByDescending(x => x.CreatedOn);
        if (!comments.Any())
        {
            return;
        }

        foreach (var comment in comments)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="comment-widgets">
                            <!-- Comment Row -->
                            <div class="d-flex flex-row comment-row">
                                <div class="commenter-pic">
                                    <img src="@comment.UserAvatarUrl" alt="user" width="75" height="75" class="rounded-circle">
                                </div>
                                <div class="comment-text w-100">
                                    <div class="comment-username-border">
                                        <div class="media-body ml-3">
                                            <strong><a asp-controller="Users" asp-action="Profile" asp-route-username="@comment.UserUserName">@comment.UserUserName</a></strong>
                                            <i class="text-muted small float-right">Posted on: @comment.CreatedOn.ToString("dd/MMM/yyyy")</i>
                                        </div>
                                    </div>
                                    <span class="m-b-15 d-block">
                                        @Html.Raw(comment.SanitizedContent)
                                    </span>
                                    @{ await DisplayComments(comment.Id); }


                                    @if (this.User.Identity.IsAuthenticated)
                                    {
                                        <hr />
                                        <div class="comment-footer mb-0 d-inline-block float-right">
                                            @if (this.User.Identity.Name == comment.UserUserName)
                                            {
                                                <form class="float-right" method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">
                                                    <button onclick="return confirm('Are you sure you want to delete this comment?')" formmethod="post" class="btn btn-danger btn-sm">Delete</button>
                                                </form>
                                            }
                                            <button type="button" class="btn btn-secondary btn-sm" onclick="showAddCommentForm(@comment.Id)"><i class="fa fa-plus"></i>&nbsp; Reply</button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <!-- Comment Row -->
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="~/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: ["image paste table link code media"]
    });
</script>

@if (this.TempData["CreateMovieTemp"] != null)
{
    <p class="alert alert-success">@this.TempData["CreateMovieTemp"]</p>
}

@if (this.TempData["UserAddToFavourite"] != null)
{
    <p class="alert alert-success">@this.TempData["UserAddToFavourite"]</p>
}

@if (this.TempData["UserAddToWatched"] != null)
{
    <p class="alert alert-success">@this.TempData["UserAddToWatched"]</p>
}

@*Details*@
<div class="col-md-12 media">
    <div class="media-body">
        <div class="row">
            <div class="col-md-8 media-body">
                <p>
                    @Html.Raw(Model.SanitizedSummary)
                </p>
            </div>
            <div class="col-md-4 media-body">
                <img src="@Model.PosterUrl" width="250" class="center" />
                @if (this.User.IsInRole("Administrator"))
                {
                    <h6 align="center"><a asp-action="Edit" asp-route-id="@Model.Id">Edit Movie</a></h6>
                    <h6 align="center"><a asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to hard this movie?')">Delete Movie</a></h6>
                    <h6 align="center"><a asp-action="HardDelete" asp-route-id="@Model.Id" onclick="return confirm('Are you sure you want to hard delete this movie?')">Hard Delete Movie</a></h6>
                }
                <h2 style="text-align:center; margin-top:-40px; margin-bottom:-35px;">
                    @Model.Name
                </h2>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <h6 align="center"><a asp-controller="Users" asp-action="AddToUserWatched" asp-route-movieId="@Model.Id">Add to Watched</a></h6>
                    <h6 align="center"><a asp-controller="Users" asp-action="AddToUserFavourites" asp-route-movieId="@Model.Id">Add to Favourites</a></h6>
                }
                <p><strong>Genres: </strong>@Model.GenreString</p>
                <p><strong>Rating: </strong>@Model.Rating</p>
                <p><strong>Premiere Date: </strong>@Model.ReleaseDate.ToShortDateString()</p>
                <p><strong>Language: </strong>@Model.Language</p>
                <p><strong>Length: </strong>@Model.Length minutes</p>
                <p><strong><a href="@Model.TrailerLink">Trailer Link</a></strong></p>
                <p><strong><a href="@Model.IMDBLink">IMDB Link</a></strong></p>
                <h5>Directors</h5>
                @foreach (var director in Model.Directors.OrderBy(x => x.Director.FullName))
                {
                    <p><a asp-controller="Directors" asp-action="Details" asp-route-id="@director.DirectorId">@director.Director.FullName</a></p>
                }
            </div>
        </div>
    </div>
</div>

@*Actors*@
<hr />
<h5 align="center">Actors</h5>
<hr />
<div class="row">
    @foreach (var actor in Model.Actors.OrderBy(x => x.Actor.FirstName).Take(16))
    {
        <div class="col-md-3" style="margin-top:10px;">
            <img src="@actor.Actor.ImageUrl" alt="actorImageUrl" width="50" />
            <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor.FirstName @actor.Actor.LastName</a>
        </div>
    }
</div>

@*Comments*@
<hr />
<div class="card-body text-center">
    <h4 class="card-title d-inline-block">Latest Comments</h4>
    @if (this.User.Identity.IsAuthenticated)
    {
        <button type="button" class="btn btn-primary float-right d-inline-block" onclick="showAddCommentForm(0)">
            <i class="fa fa-plus"></i>
            &nbsp; Comment
        </button>
    }
</div>

<div>
    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
        <input type="hidden" name="MovieId" value="@this.Model.Id" />
        <input type="hidden" name="ParentId" value="0" />
        <div>
            <label for="Content"></label>
            <textarea name="Content" id="Content" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Add comment" />
        </div>
        <hr />
    </form>
</div>

@{ await DisplayComments(null); }

<script>
    function showAddCommentForm(parentId) {
        $("#AddCommentForm input[name='ParentId']").val(parentId);
        $("#AddCommentForm").show();
        $([document.documentElement, document.body]).animate({
            scrollTop: $("#AddCommentForm").offset().top
        }, 1000);
    }
</script>