@model CinemaHour.Web.ViewModels.Actors.AllActorsViewModel
@{
    this.ViewData["Title"] = "All Actors";
}

@if (this.TempData["DeleteActorTemp"] != null)
{
    <p class="alert alert-danger">@this.TempData["DeleteActorTemp"]</p>
}
@if (this.TempData["HardDeleteActorTemp"] != null)
{
    <p class="alert alert-danger">@this.TempData["HardDeleteActorTemp"]</p>
}

<h1 class="display-4 text-center">@this.ViewData["Title"]</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="All" method="get">
            <p>Search: <input type="text" name="searchString" value="@this.ViewData["CurrentFilter"]" /></p>
            <input type="submit" value="Search" class="btn btn-success" />
            <a class="btn btn-info" asp-action="All">Back to full list.</a>
        </form>
    </div>
    <div class="col-md-5">
        <p>
            Sort by: <a class="btn btn-dark" asp-action="All" asp-route-sortOrder="@this.ViewData["NameSortParam"]" asp-route-currentFilter="@this.ViewData["CurrentFilter"]" style="margin-left:5px;">
                Name
            </a>
        </p>
    </div>
</div>

<div class="row">
    @foreach (var actor in Model.Actors)
    {
        <div class="col-md-3 media" style="margin-top: 10px">
            <div class="media-body">
                <h5 class="mt-0">
                    @(actor.FirstName + " " + actor.LastName)
                </h5>
                <img src="@actor.ImageUrl" width="200" />
                <p><strong>Gender: </strong>@actor.Gender</p>
                <p><strong>Birthdate: </strong>@actor.BirthDate.Date.ToShortDateString()</p>
                <div class="button-holder">
                    <a asp-action="Details" asp-route-id="@actor.Id" class="btn btn-info text-uppercase">View More</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="wrapper" style="margin-top:5px">
    @if (Model.PagesCount > 0)
    {
        <ul class="pager justify-content-center">
            <li class="pager__item pager__item--prev">
                <a class="pager__link"
                   asp-action="All"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@Model.PreviousPage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active pager__item">
                        <a class="pager__link"
                           asp-action="All"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-page="@i">@i</a>
                    </li>
                }
                else
                {
                    <li class="pager__item">
                        <a class="pager__link"
                           asp-action="All"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-page="@i">@i</a>
                    </li>
                }
            }

            <li class="pager__item pager__item--next">
                <a class="pager__link"
                   asp-action="All"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   asp-route-page="@Model.NextPage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12">
                        <g fill="none" fill-rule="evenodd">
                            <path fill="#33313C" d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"></path>
                        </g>
                    </svg>
                </a>
            </li>
        </ul>
    }
</div>