@model CinemaHour.Web.ViewModels.Actors.ActorCreateInputModel

@{
    ViewData["Title"] = "Create Actor";
}

<h1>@ViewData["Title"]</h1>

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<form method="post" asp-action="Create">
    <div class="row">
        <div class="col-md-12 top-buffer form-group" style="align-content:center">
            <label asp-for="@Model.Image"></label>
            <input asp-for="@Model.Image" class="form-control" placeholder="Image URL..." />
            <span asp-validation-for="@Model.Image" class="text-danger"></span>
        </div>
        <div class="col-md-6 top-buffer form-group">
            <label asp-for="@Model.FirstName"></label>
            <input asp-for="@Model.FirstName" class="form-control" placeholder="First Name..." />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6 top-buffer form-group">
            <label asp-for="@Model.LastName"></label>
            <input asp-for="@Model.LastName" class="form-control" placeholder="Last Name..." />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
        <div class="col-md-12 top-buffer form-group">
            <label asp-for="@Model.Info"></label>
            <textarea asp-for="@Model.Info" class="form-control" placeholder="Information..."></textarea>
            <span asp-validation-for="@Model.Info" class="text-danger"></span>
        </div>
        <div class="col-md-6 top-buffer form-group">
            <label asp-for="@Model.Gender"></label>
            <input asp-for="@Model.Gender" class="form-control" placeholder="Male or Female..." />
            <span asp-validation-for="@Model.Gender" class="text-danger"></span>
        </div>
        <div class="col-md-6 top-buffer form-group">
            <label asp-for="@Model.BirthDate"></label>
            <input asp-for="@Model.BirthDate" class="form-control" placeholder="Date of Birth..." type="date" />
            <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary" />
    </div>
</form>