@model CinemaHour.Web.ViewModels.Actors.ActorDetailsViewModel;
@{
    this.ViewData["Title"] = "Actor Details";
}

<div class="col-md-12 media">
    <div class="media-body">
        <div class="row">
            <div class="col-md-8 media-body">
                <p>
                    @Html.Raw(Model.SanitizedContent)
                </p>
            </div>
            <div class="col-md-4 media-body">
                <img src="@Model.ImageUrl" width="250" style="margin-left:auto; margin-right:auto;" />
                <h2 class="mt-0" style="text-align:center;">
                    @(Model.FirstName + " " + Model.LastName)
                </h2>
                <p><strong>Gender: </strong>@Model.Gender</p>
                <p><strong>Birthdate: </strong>@Model.BirthDate.ToString("dd/MMM/yyyy")</p>
                <p><strong>Age: </strong>@Model.Age()</p>
            </div>
        </div>
        <div id="ActorMovieDetails">
            <hr />
            <h3 align="center">Movies</h3>
            <hr />
            <div class="row">
                @foreach (var movie in @Model.Movies.OrderBy(x => x.Rating))
                {
                    <div class="col-md-4">
                        <h4 align="center"> <a href="/Movies/Details?id=@movie.MovieId">@movie.Name</a> </h4>
                        <img style="float: left; margin-right:5px;" src="@movie.PosterUrl" width="150" />
                        <p style="margin-left:auto; margin-right:0;"><strong>Rating: </strong>@movie.Rating</p>
                        <p><a href="@movie.TrailerLink">Trailer</a></p>
                        <p><a href="@movie.IMDBLink">IMDB</a></p>
                        <p><strong>Premiere: </strong>@movie.ReleaseDate.ToShortDateString()</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>